.banner {
    background: var(--preto);
    color: var(--branco);
    padding: 2rem;
    margin-bottom: 4rem;
}

@media screen and (min-width: 1024px) {
    .banner {
        padding: 5rem 0;
        margin-bottom: 5rem;
    }
}