.boas-vindas {
    text-align: center;
    font-weight: bold;
    padding: .5rem 0;
    background: var(--cinza);
    margin-bottom: 2rem;
}

@media  screen and (min-width: 768px) {
    .boas-vindas {
        margin-bottom: 3rem;
    }
}

@media  screen and (min-width: 1024px) {
    .boas-vindas {
        margin-bottom: 0;
    }
}