.sobre__titulo {
    position: relative;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .sobre__titulo {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .sobre__titulo {
        display: inline-block;
        font-size: 3.5rem;
        margin-bottom: 0;
    }
}
